.add-post-modal {
    display: none;
}

.cancel-button-container, .modal-body, .preview-image-container, .upload-field {
    display: flex
}

.add-post-modal, .modal-body, .preview-image-container, .upload-field {
    flex-direction: column;
}

.modal-body, .upload-field {
    justify-content: flex-start;
    align-items: center;
}

.upload-field {
    width: 90%;
}

.preview-image-container {
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}

.modal-body {
    position: absolute;
    background-color: #fafafa;
    top: 10%;
    bottom: 10%;
    left: 30%;
    right: 30%;
    border-radius: 16px;
}

.cancel-button-container {
    flex-direction: row;
    justify-content: flex-end;
}

.cancel-button {
    margin: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.add-post-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.65);
    z-index: 100;
}

.add-post-text {
    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 17px;
    color: black;
}

#imageInput {
    display: none;
}

#input-label.image-label-button {
    background-color: #0095f6;;
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: #fafafa;
    justify-content: center;
    font-weight: 600;
    align-self: center;
    line-height: 30px;
    cursor: pointer;
}

.preview-image-container{
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

#uploaded-image {
    position: relative;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
}

#description-input {
    display: none;
    margin-top: 10px;
}

.post-image-button {
    height: 25px;
    width: 100px;
    background-color: #0095f6;
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
    border:0 ;
    outline: 0;
}

@media only screen and (min-width: 1200px) {

    .modal-body {
        top: 10%;
        bottom: 10%;
    }

    #uploaded-image, #description-input {
        width: 450px;  
    }

    #uploaded-image {
        height: 450px;
    }



}


@media only screen and (max-width: 1200px) {

    .modal-body {
        top: 20%;
        bottom: 20%;
        left: 25%;
        right:25%
    }
    
    #description-input {
        width: 300px
    }

}

@media only screen and (max-width: 850px) {

    .modal-body {
        top: 20%;
        bottom: 20%;
        left: 15%;
        right:15%
    }

}

@media only screen and (max-width: 470px) {

    .modal-body {
        top: 20%;
        bottom: 20%;
        right: 0%;
        left: 0%
    }

}