.body {
  display:flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  background-color: #FAFAFA;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  width: 50%;
  bottom: 0%;
}

@media only screen and (max-width: 1500px) {
  .content {
      width: 70%
  }
}

@media only screen and (max-width: 950px) {
  .content {
      width: 100%
  }
}