.explore-screen, .first-one-container, .second-one-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.explore-screen {
    flex-grow: initial;
}

.first-container, .second-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.second-container {
    flex-wrap: wrap;
    
}

.first-one-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.229%;
    height: 100%
}

.big-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 65.77%
}

.small-post-width {
    width: 31.229%;
    padding-top:1.45vw
}

@media only screen and (max-width: 665px) {
    .small-post-width, .first-one-container {
        width: 33.33%;
        padding: 0 !important;
    }

    .first-one-container {
        align-items: flex-start;
    }
    .big-post {
        width: 66.66%
    }

    .first-container, .big-post, #sp {
        margin-bottom: -4.77px;
    }
}
