.explore-screen, .first-one-container, .second-one-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.explore-screen {
    flex-grow: initial;
}

.first-container {
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    padding: 0;
    position: relative;
    font: inherit;
    vertical-align: baseline;
}

.second-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.first-one-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 31.229%;
    height: 100% !important;
}

.big-post {
    
    width: calc(66.6666% - 28px);
    margin: 0 28px 28px 0;
    float: right;
    display: block;
    padding: 0;
    position: relative;

}

.small-post {
    width: calc(33.3333% - 28px);
    margin: 0 28px 28px 0;
    display: block;
    float: left;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    flex-direction: row;
    padding: 0;
    position: relative;
    font: inherit;
}

.small-post-width {
    width: 31.229%;
    padding-top:1.45vw
}

@media only screen and (max-width: 665px) {
   .small-post {
    width: calc(33.3333% - 2px);
    margin: 0 2px 2px 0;
   }

   .big-post {
        width: calc(66.6666% - 2px);
        margin: 0 2px 2px 0;
       }
}
