.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FAFAFA;
}

.primary-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    background-color: white !important;
    border: 1px solid #dbdbdb;
}

.secondary-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    background-color: #FAFAFA;
    position: static;
}

.story-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
    border-bottom:  1px solid #dbdbdb;
    padding-left: 20px
}

.story {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
}

.story-image {
    width: 50px;
    border-radius: 50px;
    height: 50px
}

.story-name {
    width: 90%;
    font-size: 12px;
    text-align: center;
    overflow-x: hidden;
    margin: 5px;
}

.scroll-button-container {
    position: relative;
    top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.scroll-right-button-container, .scroll-left-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height:18px;
    width: 18px;
    border-radius: 18px;
    margin: 0 10px
}

.scroll-right-button-container {
    order: 2;
}

.scroll-left-button-container {
    order: 1;
}

.scroll-left-button {
    transform: rotate(180deg)
}

.scroll-right-button, .scroll-left-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.scroll-button-container, .scroll-left-button-container, .scroll-right-button-container, .scroll-left-button, .scroll-right-button {
    z-index: 2
}

@media only screen and (max-width: 900px) {
    .home-container {
        width:100%
    }
}

@media only screen and (max-width: 1500px) {
    .primary-home {
        width: 65%
    }

    .secondary-home {
        width: 35%
    }
}

@media only screen and (max-width: 665px) {
    .home-container, .primary-home, .story-section, .scroll-button-container {
        width: 100%
    }
    
    .secondary-home {
        display: none;
    }
    
    .home-container {
        flex-direction: column;
    }
}


