.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 53px;
    top: 0px;
    z-index: 2;
}

.navigation-outer {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 50%;
    height: 53px;
    
}

.navigation-inner {

    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 53px;
    justify-content: space-between;
    align-items:center;
    flex: none;
    order: 0;
    align-self: baseline;
    flex-grow: 0;
    
}

.logo-box {
    
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 36px;
}

.logo {

    width: 100%;
    height: 28px;
    position: relative;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.search-box {

    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 4px 0px;
    width: 25.55%;
}

.search {

    position: static;
    width: 100%;
    height: 28px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    outline: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    padding-left: 25px;
}

.search-icon-container {

    margin-right: -10%;
    position: absolute;
    padding-left: 10px;
    top:16px
}

.search-icon {

    width: 12px;
    height: 12px;
}

.border {

    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    top: 50px;
    z-index: 2;
    background: #DBDBDB;
}

.menu-button-container {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 0px 7px 24px;
    justify-content: space-between;
    width: 250px;
    order:3;
    margin-top: 16px;
    padding: 4px 0px;
    padding-right: 15px;

}

.menu-item-container {

    position: relative;
    height: 22px;
    left: 244px;
    top: 7px;
    flex: none;
    order: 5;
    flex-grow: 0;
}

.menu-item {

    width: 22px;
    height: 22px;
    border-radius: 22px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 1500px) {
    .navigation-outer {
        width: 70%
    }
}

@media only screen and (max-width: 900px) {
    .navigation-outer {
        width: 100%
    }
}

@media only screen and (max-width: 810px) {

    .search-box {
        display: none;
    }
  }

@media only screen and (max-width: 445px) {
    .navigation-outer {
        width: 100%
    }
    
    .logo-box, .menu-button-container {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .menu-button-container {
        width: 190px;
        padding-right: 0px;
    }
}