.profile-header, .profile-picture-container, .profile-info-container, .profile, .general, .follow-button-container {
    display: flex;
}

.profile-picture-container, .profile {
    flex-direction: column;
}

.profile, .profile-header {
    width: 100%;
    border: 1px solid #bebebe 
}

.profile-header {
    align-items: flex-start;
}

.profile-picture-container {
    width: 30%;
    align-items: center;
    padding: 0;
    margin: 0;
}

.general, .profile-info-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.profile-header {
    padding: 25px 0;
}

.profile-picture-container, .profile-info-container {
    justify-content: space-between;
}

.profile-info-container {
    width: 40%
}

.profile-picture {
    width: 60%;
    height: 60%;
    border-radius: 60%;
    padding: 0;
}

.profile-name {
    font-size: 32px;
}

.follow-button-container {
    height: 100%;
    align-items: center;
}

.follow-button-container, .profile-name {
    padding-right: 20px
}

.follow-button {
    background-color: rgb(69, 69, 196);
    color: white;
    outline: 0;
    border: 1px solid rgb(57, 57, 247);
    width: 100px;
    height:30px;
    border-radius: 5px;
}

@media only screen and (max-width: 735px) {

    .profile-name {
        font-size: 24px;
    }
    
    .profile-picture-container {
        margin-left: -2px
    }

    .follow-button-container {
        order: 3;
        width: 100%;
        padding-right: 0;
        margin-top: 2px;
    }

    .profile-info-container {
        flex-direction: row;
    }

    .general {
        flex-direction: column;
    }

    #profile-more-button-container.more-button-container {
        height: 100%;
        justify-content: flex-start;
        align-items: center;
    }
}